@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}


body {
        background-image: linear-gradient(to right top, #170640, #1e0956, #270c6e, #2f0e86, #38109f, #38109f, #38109f, #38109f, #2f0e86, #270c6e, #1e0956, #170640);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Inter';
        font-size: 18px;
        color: rgb(246, 243, 243);
}

a {
        color: rgb(0, 0, 0);
        text-decoration: none;
}

.container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

.links {
        display: flex;
        flex-direction: column;
        align-items: center;
}


.link {
        /* display: block; */
        line-height: 2;
        border: 1px solid #00000000;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        background-color: #ffffff;
        color: black;
        text-align: center;
}

.link:hover {
        border: 1px solid #170640;
        background-color: #170640;
        color: rgb(255, 255, 255);
        transition: 0.3s ease;
}

.el:hover {
        border: 0px solid #170640;
        background-color: #17064000;
        color: rgb(255, 255, 255);
        transition: 0.3s ease;

}

h1 {
        color: rgb(235, 235, 235);
        font-size: 42px;
        font-weight: 600;
        padding: 20px 0;
        line-height: 1.2;
        text-align: center;
}

h2 {
        color: rgb(235, 235, 235);
        font-size: 24px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1;
}

.main {
        margin: auto;
}

.el {
        width: 100%;
}

.img {
        border-radius: 50%;
        text-align: center;
}

.descr {
        color: rgb(235, 235, 235);
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1;
        text-align: center;
        margin-bottom: 10px;
}

.portr {
        text-align: center;
}