@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body {
        background: linear-gradient(0deg, hsla(220, 78%, 29%, 1) 0%, hsla(240, 100%, 11%, 1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        color: rgb(246, 243, 243);
}

a {
        color: rgb(0, 0, 0);
        text-decoration: none;
}

.container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

.main {
        margin: auto;
}

.img {
        border-radius: 50%;
        border: 2px solid hsla(0, 0%, 100%, 1);
        text-align: center;
}

h1 {
        color: rgb(235, 235, 235);
        font-size: 42px;
        font-weight: 600;
        margin: 10px 0;
        text-align: center;
}

h2 {
        color: rgb(235, 235, 235);
        font-size: 24px;
        font-weight: 400;
        margin: 10px 0;
        text-align: center;
}

.portr {
        text-align: center;
}

.links {
        display: flex;
        flex-direction: column;
        align-items: center;
}


.link {
        border: 1px solid hsla(0, 0%, 0%, 0);
        display: block;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        margin: 5px auto;
        background-color: #ffffff;
        text-align: center;
}

.link:hover {
        border: 1px solid rgb(255, 255, 255);
        background-color: hsla(0, 0%, 0%, 0);
        color: rgb(255, 255, 255);
        transition: 0.3s ease;
}